    body {
        background-color: black;
        color: white;
        text-align: center;
    }
     .nav{
        border: 2px solid white;
        width: 400px;
        margin: 30px auto;
        padding: 20px;
        border-radius: 10px;
    }
    
    .button:hover {
        border-radius: 35px;
    }
     .footer {
            background-color: #0f172a;
            color: #94a3b8;
            text-align: center;
            padding: 15px;
            font-size: 14px;
            margin-top: 250px;
        }
